
body {
	// margin-top: $page-header-menu-h;
	font-family: $ff-sans;
	// font-size: 1.6rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	margin: 0;
	color:#333333;

	&.gdpr-overlay{

	}

	#root{
		position: relative;
	}


	a {

		&:hover{
			color: #000;
			cursor: pointer;
			p &{
				color:#2e84ed;
			}
		}

		&:focus{
			color: #000;

			p &{
				color:#2e84ed !important;
			}
		}

		p &{
			color:#2e84ed;
		}
	}

	&.open-menu{
		overflow: hidden;
	}

	.cc-banner.cc-top{
		position: absolute;
	}

}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
// there isn't really a place to put these since it's unclear what organisation applies, if any
.cc-message {
  padding-right: 1em;
}
.cc-link {
	padding: 0;
}
button.normal-button {
	background-color: rgb(244, 243, 243);
	outline: initial;
	border: 1px solid #333;
	border-radius: 2px;
	font-size: inherit;
	font-family: inherit;
	padding: 3px;
}


path {
	transition-property: fill;
}

img {
	display: block;
}

svg {
	height: auto;

	&:hover{
		color: #000;
		fill: #000;
	}
}

button{
	backgrounD-color: transparent;
	border: 0;
	border-radius: none;
	outline: none;
	border: none;

	&:focus{
		outline: none;
		border: none;
	}
}

.svg-collection{
	display: none;
}

.main-content{
	width: 100%;
	height: auto;
	padding-top:49px;
}

.container{
	margin: 0 auto;
	width: 100%;
    max-width: 940px;
}

section{
	padding-left: 22px;
	padding-right: 22px;
}

.nowrap{
	white-space: nowrap;
}

.italic{
    font-style: italic;
}
