.hero{
    width:100%;
    background-image: url(https://mwcm.nyt.com/dam/LP/privacy-page/img/hero_main_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-color: #000000;
    padding: 241px 22px 18px;

    @include breakpoint("xs"){
        background-image: url(https://mwcm.nyt.com/dam/LP/privacy-page/img/hero_main.jpg);
    }

    @include breakpoint("sm"){
        padding: 212px 60px 40px;
    }

    @include breakpoint("md"){
        padding: 322px 60px 40px;
    }

    .Privacy &{
        background-image: url(https://mwcm.nyt.com/dam/LP/privacy-page/img/hero_privatepolicy_tablet.jpg);

        @include breakpoint("sm"){
            background-image: url(https://mwcm.nyt.com/dam/LP/privacy-page/img/hero_privatepolicy_tablet.jpg);
            padding: 322px 60px 40px;
        }

        @include breakpoint("md"){
            background-image: url(https://mwcm.nyt.com/dam/LP/privacy-page/img/hero_privatepolicy.jpg);
            padding: 322px 60px 40px;
        }

    }

    .Cookie &{
        background-image: url(https://mwcm.nyt.com/dam/LP/privacy-page/img/hero_cookiepolicy.jpg);

        @include breakpoint("sm"){
            background-image: url(https://mwcm.nyt.com/dam/LP/privacy-page/img/hero_cookiepolicy.jpg);
            padding: 322px 60px 40px;
        }

        @include breakpoint("md"){
            background-image: url(https://mwcm.nyt.com/dam/LP/privacy-page/img/hero_cookiepolicy.jpg);
            padding: 322px 60px 40px;
        }

    }


    &__content{   
        width: 100%;
        max-width: 550px;
        margin: 0;
        display: none;

        .Home &{
            display: block;
        }

        &__title{
            font-family: $font-cheltenham;
            font-size: 42px;
            font-weight: 300;
            line-height: 1;
            color:#ffffff;  
            text-align: left;
            max-width: 220px;
            margin-top: 8px;

            @include breakpoint("sm"){
                font-size: 60px;
                max-width: 320px;   
            }

            @include breakpoint("md"){
                font-size: 70px;
                max-width: 550px;
            }

        }

        &__paragraph{
            font-family: $font-franklin;
            font-size: 14px;
            line-height: 1.2;
            text-transform: uppercase;
            color: #ffffff;
            font-weight: 700;
            text-align: left;

            @include breakpoint("xs"){
                max-width: 340px;  
            }

            @include breakpoint("sm"){
                font-size: 20px;
                display: none;
            }
        }

    }

}

.hero-top-text{

    padding: 40px 30px 30px;    

    @include breakpoint("sm"){
        padding: 50px 60px 30px;
    }

    .Home &{
        display: none;
    }

    .hero__content{
        display: block;

        &__paragraph{
            font-family: $font-franklin;
            font-size: 14px;
            line-height: 1.2;
            text-transform: uppercase;
            color: #333333;
            font-weight: 700;
            text-align: left;

            @include breakpoint("sm"){
                display: none;
            }

        }

        &__title{
            font-family: $font-cheltenham;
            font-size: 42px;
            line-height: 1.2;
            color: #333333;
            text-align: left;
            max-width: 375px;
            font-weight: 500;

            @include breakpoint("sm"){
                font-size: 58px;
            }
        }

    }

}