.faq{
    width:100%;
    padding: 0 20px; 
    background: #FFFFFF;

    @include breakpoint("sm"){
        padding: 0 60px;
    }

    a{
        text-decoration: underline;
    }

    .container{
        max-width: 884px;
        height: auto;
        margin: 0 auto;
        width: 100%;
        padding: 40px 0;
        border-top: 1px solid #C4C4C4;
        overflow: hidden;
        position: relative;
    }

    &__sidebar{
        float: left;
        left: 0;
        top:0;
        max-width: 225px;
        width: 26%;
        display: none;

        @include breakpoint("sm"){
            display: block;
            width: 26%;
        }

        @include breakpoint("md"){
            width: 31%;
        }

        &.fixed-nav{
            top: 90px;
            left: auto;
            position: fixed;
            width: 23%;

            @include breakpoint("md"){
                width: 31%;
            }

        }

        &__ul{
            list-style: none;
            width: 100%;

            &__list{
                list-style: none;
                padding-left: 25px;
                position: relative;
                padding-bottom: 11px;

                &__number{
                    position: absolute;
                    left: 0;
                    top: 0;
                    font-family: $font-franklin;
                    font-size: 14px;
                    line-height: 1.4;
                    color: #333333;
                    font-weight: 700;
                }

                &__link{
                    font-family: $font-franklin;
                    font-size: 14px;
                    line-height: 1.7;
                    text-decoration-line: underline;
                    color: #23855B;
                    font-weight: 700;

                    &:hover{
                        color: #23855B;
                    }

                }

            }

        }

    }

    &__main-content{
        width: 100%;

        @include breakpoint("sm"){
            float: right;
            width: 67%;
        }

        .mobile-collapse{
            width: 100%;
            height: auto;
            text-align: right;
            position: relative;
            margin: 30px 0 0;
            overflow: hidden;
            padding: 0 12px;

            .CookieFaq &{
                margin-top: 0;
            }


            .all-faq-trigger{
                background-color: transparent;
                cursor: pointer;
                width: 14px;

                @include breakpoint("sm"){
                    display: none;
                }
    
                &:hover{
                    fill-opacity: 0;
                } 
    
                svg{
                    width: 100%;
                }
    
            }

        }

        &__parapgraph{
            font-family: $font-franklin;
            font-size: 16px;
            line-height: 1.5;
            color: #333333;
            margin: 20px 0 0;
            font-weight: 500;

            &:first-child{
                margin: 0;
            }

            a{
                color: #23855B;
            }

        }

        &__ul{
            width: 100%;
            padding-left: 15px;
            margin: 18px 0 0;
            list-style-type: none;

            &__li{
                font-family: $font-franklin;
                font-size: 16px;
                line-height: 1.5;
                color: #333333;
                padding-left: 5px;
                margin: 20px 0 0;
                position: relative;
                list-style-type: none;
                font-weight: 500;

                &:before{
                    content: "•";
                    position: absolute;
                    left: -14px;
                    top: 0;
                    width: 20px;
                    height: 20px;
                    font-family: $font-franklin;
                    font-size: 16px;
                    line-height: 24px;
                    color: #333333;
                    font-weight: 700;
                    text-align: left;
                }

                &:first-child{
                    margin: 0;
                }


            }

        }

        .question-answers-holder{
            clear: both;
            margin: 15px 0 0;
            width: 100%;

            .CookieFaq &{
                
                @include breakpoint("sm"){
                    margin: 0;
                    //border: none; 

                    &:first-child{
                        border: none;   
                    }

                }
            }

            .faq-question{
                width: 100%;
                font-family: $font-franklin;
                border-top: 1px solid #C4C4C4;

                .CookieFaq &{
                
                    @include breakpoint("sm"){

                        &:first-child{

                            border: none;

                            .question{
                                padding-top: 0;

                                &__number{
                                    top:0;
                                }

                            }
                        }


                    }

                }

                .question{
                    width: 100%;
                    font-family: $font-franklin;
                    font-size: 18px;
                    line-height: 1.1;
                    color: #333333;
                    padding-left: 40px;
                    padding-right: 50px;
                    position: relative;
                    padding-bottom:20px;
                    padding-top: 20px;
                    cursor: text;
                    text-align: left;
                    font-weight: 700;

                    @include breakpoint("sm"){
                        cursor: text;
                        padding-right: 0;
                        font-size: 24px;

                    }

                    &__number{
                        position: absolute;
                        width: 40px;
                        left: 0;
                        top: 20px;
                        display:  block;
                    }

                    &__icon{
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        right: 8px;    
                        top: 20px;
                        background-color:#23855B;
                        border-radius: 50%;

                        @include breakpoint("sm"){
                            display: none;
                        }

                        svg{
                            width: 100%;
                        }

                        .faq-question.active &{
                            background-color:#23855B;
                        }
                    }

                }

                .answer{
                    width: 100%;
                    transition: max-height 0.5s ease-in-out;
                    max-height: 2000px;
                    overflow: hidden;

                    @include breakpoint("sm"){
                        display: block !important;
                        max-height: 10000px !important;
                        height: auto;
                        &.close{
                            max-height: 10000px !important;
                            height: auto;
                        }

                    }

                    
                    &.close{
                        max-height: 0px;
                        transition: max-height 0.4s ease-in-out;
                    }
                    

                    &__text{

                        font-family: $font-franklin;
                        font-size: 16px;
                        line-height: 1.5;
                        color: #333333;
                        margin: 20px 0 0;
                        font-weight: 500;

                        &:first-child{
                            margin: 0;
                        }

                        &:last-child{
                            margin-bottom: 30px;
                        }

                        &__category{
                            font-family: $font-franklin;
                            font-size: 16px;
                            line-height: 1.5;
                            color: #333333;
                            margin: 20px 0 0;
                            font-weight: 700;

                            &__ol{
                                list-style-type: disc;
                                padding-left: 20px;
                                margin: 20px 0 0;
                                counter-reset:item;
                                list-style: none;

                                &__li{
                                    font-family: $font-franklin;
                                    font-size: 16px;
                                    line-height: 1.5;
                                    color: #333333;
                                    margin: 20px 0 0;
                                    position: relative;
                                    font-weight: 500;

                                    &:before{
                                        content: counter(item, lower-roman)".";
                                        counter-increment: item;
                                        position: absolute;
                                        left: -20px;
                                        top: 0;
                                        width: 20px;
                                        height: 20px;
                                        font-family: $font-franklin;
                                        font-size: 16px;
                                        line-height: 24px;
                                        color: #333333;
                                        font-weight: 600;
                                        text-align: left;
                                    }

                                    .answer__text{
                                        &:first-child{
                                            margin-top: 0;
                                        }
                                    }

                                }

                            }

                            &__ul{
                                list-style: none;

                                &.root-list{
                                    padding-left: 20px;
                                }

                                &.circle-list{
                                    list-style: circle;

                                    .answer__text__category__ul__li:before{
                                        content: " ";
                                    }

                                }

                                &__li{
                                    font-family: $font-franklin;
                                    font-size: 16px;
                                    line-height: 1.5;
                                    color: #333333;
                                    margin: 20px 0 0;
                                    position: relative;
                                    font-weight: 500;

                                    &:before{
                                        content: "•";
                                        position: absolute;
                                        left: -20px;
                                        top: 0;
                                        width: 20px;
                                        height: 20px;   
                                        font-family: $font-franklin;
                                        font-size: 16px;
                                        line-height: 24px;
                                        color: #333333;
                                        font-weight: 700;
                                        text-align: left;

                                    }

                                    .answer__text{
                                        &:first-child{
                                            margin-top: 0;
                                        }
                                    }

                                }

                            }



                        }

                    }

                    a{
                        color: #23855B;
                    }

                }


            }

        }

    }

}

.ccpa-content{
    display: none;  

    .show-ccpa-content &{
        display: block;
    }

}

span.ccpa-content{
    .show-ccpa-content &{
        display: inline;
    }
}

.gdpr-more-content{
    display: none;  
}

.show-gdpr-content{
    
    .gdpr-more-content{
        display: block;
    }

    span.gdpr-more-content{
            display: inline;
    }

}

.back-top{
    font-family: $font-franklin;
    font-size: 16px;
    line-height: 1.5;
    text-decoration-line: underline;
    color: #23855B;
    margin: 20px 0 40px;
    display: inline-block;
    clear: both;
    cursor: pointer;
    font-weight: 700;
}

.cookie-table{
    width: 100%;
    height: auto;
    //border: 1px solid #ccc;
    margin-top: 20px;
    overflow-x: scroll;
    overflow-y: hidden;

    @include breakpoint("sm"){
        overflow: hidden;
    }

    tbody, thead{
        width: 100%;
        height: auto;
    }

    th, td{
        //border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        padding: 10px;
        text-align: left;
        font-family: $font-franklin;
        font-size: 12px;
        line-height: 1.2;
        font-weight: 500;
        color: #333;
        vertical-align: top;

        &:first-child{
            border-left: none;
        }

        width: 20%;

    }

    tr{
        &:first-child{
            th{
                //background-color: #EEEEEE;
                border-top: none;
                font-weight: 700;
            }
        }

        width: 100%;

    }


}





