body{
    margin: 0;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	color:#333333;
    font-family: $ff-sans;





}

*{
    box-sizing: border-box;
}

a{
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);

    &::selection{
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    }
}

button{
    outline: none;
    border: none;
}

.nowrap{
    white-space: nowrap;
}

.italic{
    font-style: italic;
}
